@charset "utf-8";

/* #wrap{} */

#header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid white;
    background: url("../images/mainslide1.jpg") no-repeat center top;
    position: fixed;
    z-index: 1000;
}

.head_opa{
    height: 80px;
    background: rgb(0, 0, 0, 0.5);
}

.head_inner{
    width: 956px;
    /* height: 80px; */
    margin: 0 auto;
    /* background-color: #ddd */
}

.logo{
    float: left;
    width: 230px;
    height: 80px;
    /* overflow: hidden; */
} 
.nav{
    float: right;
    padding-top: 30px;
}

/* .menu{} */
.menu li{
    display: inline-block;
}
.menu li a{
    display: block;
    color: #fff;
    padding: 0 15px;
    font-size: 16px;
}

.menu li a:hover{
    color: #ddd;
    transition: all 0.3s;
}

/* contents 영역 */

/* #contents{} */

.main_visual{
    height: 820px;
    background: url("../images/mainslide1.jpg") no-repeat center top;
}

.main_opa{
    height: 820px;
    background:rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
}

.main_opa h1{
    padding-top: 200px;
    font-size: 80px;
}
.main_opa p{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.main_opa a{
    padding: 10px 15px;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

.sub_title{
    padding: 50px 0;
    background-color: #252525;
    color: #fff;
    text-align: center;
}
.sub_title h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.sub_title p{
    font-size: 18px;
}

.arrow{
    width: 20px;
    height: 20px;
    background-color: #252525;
    margin: 0 auto;
    border-top: 20px solid #252525;
    border-right: 20px solid #fff;
    border-left: 20px solid #fff;
}

/* 컴퍼니 영역 */

.con_inner1{
    width: 956px;
    margin: 0 auto;
    padding-top: 80px;
    border-top: 70px;
    padding-bottom: 50px;
    overflow: hidden;
}

.title{
    text-align: center;
    font-size: 30px;
    height: 50px;
}

.p_title > p{
    text-align: center;
    font-size: 15px;
    height: 80px;
}
.p_title{
    text-align: center;
    font-size: 15px;
    height: 80px;
}
.con_wrap li.left{
    padding-right: 15px;
}
.con_wrap li.right{
    padding-left: 15px;
}

/* .con_wrap{} */
.con_wrap li{
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.con_wrap li p{
    font-size: 13px;
    line-height: 1.7;
    padding-top: 30px;
    /* word-spacing: 5px; */
    /* letter-spacing: 5px; */
}
.con_wrap li img{width: 100%;}

.con_wrap li .last{
    padding-bottom: 30px;
    
}

hr{
    clear: both;
}

/* 찾아오시는길 */

.con_inner2{
    width: 956px;
    margin: 0 auto;
    padding-top: 60px;
}

.map{
    width: 956px;
    height: 400px;
    border: 0;
}

.address{
    padding: 50px 0 50px;
}

.address > h3{
    font-size: 20px;
    height: 50px;
}

.address > p{
    line-height: 1.7;
}

.address span{
    display: block;
    font-size: 13px;
}

.time{
    padding-top: 30px;
}

/* 비지니스 영역 */

.con_inner3{
    width: 956px;
    margin: 0 auto;
    padding-top: 80px;
}

.con_wrap3{overflow: hidden;}
.con_wrap3 li{
    float: left;
    width: 30%;
    margin-right: 5%;
    text-align: center;
}
.con_wrap3 li:last-child{margin-right: 0 !important;}
.con_wrap3 li img{
    width: 90%;
}
.con_wrap3 li h3{
    padding: 20px 0 30px;
}
.con_wrap3 li p{
    text-align: justify;
    font-size: 13px;
    line-height: 1.7;
    width: 90%;
    margin: 0 auto;
}

.activity{
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.activity img{
    width: 100%;
}

.activity > h3{
    padding: 30px 0 25px;
}

.activity > p{
    line-height: 1.5;
    padding-bottom: 20px;
    text-align: justify;
    color: #666;
}

/* .activity ul{} */
.activity ul li{
    float: left;
    width: 50%;box-sizing: border-box;
}
.activity ul li h3{
    padding: 10px 0;
}
.activity ul li h3 p{
    font-size: 12px;
    color: #666;
    line-height: 2;
    text-align: justify;
}

.act_left{
    padding-right: 15px;
}
.act_right{
    padding-left: 15px;
}
.p_first{
    border-bottom: 2px solid greenyellow;
    font-size: 16px !important;
    margin-bottom: 10px;
}

/* 포트폴리오 영역 */

.con_inner4{
    width: 956px;
    margin: 0 auto;
    padding-top: 80px;
}

.img_list{
    overflow: hidden;
    padding-bottom: 50px;
}
.img_list > li{
    float: left;
    width: 25%;
    margin-bottom: 30px;
}
.img_list > li > div{
    position: relative;
    line-height: 0;
}
.img_list > li > div > a{
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
}

.img_list > li > div > a:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.img_list > li > div > a > span{
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px 0 20px 0;
    font-size: 36px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}


.img_list > li > div > a > span:hover{
    background-color: rgba(255, 255, 255, 1);
    color: navy;
}

.img_list >li >div >img{
    width: 100%;
}

.img_list > li>h4{
    line-height: 2;
    padding-top: 10px;
    padding-bottom: 10px;
}
.img_list > li>span{
    padding: 10px 0;
}

/* 컨설트 영역 */
.con_inner5{
    width: 956px;
    margin: 0 auto;
    padding-top: 80px;
}

.form_table{
    width: 100%;
    border: 1px solid black;
}

/* .form_table tr{} */
.form_table td{
    border: 1px solid #666;
    padding: 10px;
}

.t_left{
    background-color: #ddd;
    text-align: center;
    font-weight: bold;
    width: 25%;
}

.c_right{text-align: right;}

#textarea2{width: 100%;}

.img_left{text-align: center;}

.btn{text-align: center; padding: 20px 0;}

.btn input{padding: 5px 15px; margin: 0 5px; cursor: pointer;}

/* FOLLOW SNS 영역 */
.con_inner6{
    width: 100%;
    height: 400px;
    background: url(../images/7-min.jpg) no-repeat center center fixed;
    background-size: 100%;
}

.con_inner6_opa{
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}

.con_inner6_opa_inner{
    width: 956px;
    margin: 0 auto;
}

.con_inner6_opa_inner > h2{
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 70px;
}

.con_inner6_opa_inner > p{
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 15px 0;
}

/* .sns{} */
.sns li{
    float: left;
    width: calc(100% / 3);
    text-align: center;
    color: white;
}
/* .sns li img{} */
.sns li h3{font-weight: 400; font-size: 15px; height: 30px;}
.sns li span{font-size: 12px;}

/* footer 영역 */

/* #footer{} */

.foot_up{
    height: 200px;
    background: #444;
    padding: 40px;
    color: white;
}

.foot_up_inner{
    width: 956px;
    margin: 0 auto;
}

.foot_up_inner h2{
    padding-bottom: 30px;
}

.foot_up_inner span{
    line-height: 1.7;
    padding-right: 15px;
}

.foot_down{
    background: #222;
    padding: 25px 0;
    color: white;
}

.foot_down_inner{
    width: 956px;
    margin: 0 auto;
}